szn vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #2b2931;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    background-color: #ffffff;
    margin: 0px;
}

div section#input_container {
    border: 5px outset #ffffff;
}

section#chatroom {
    border: 5px inset #ffffff;
    height: 89%;
    overflow: auto;
}

section#input_container {
    height: 7%;
    text-align: center;
    background-color: #ffffff;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #dfc9c9;
}

.message:nth-child(odd) {
    background-color: #717267;
}